@import "./variable";

.dialog-view{
}
.modal-container {
  position: relative;
  padding: 20px;

  .modal-title {
    opacity: 0.5;
    font-size: 20px;
    color: $primary-blue-1;
    letter-spacing: 0;
    text-align: center;
    line-height: 20px;
  }

  .modal-body {
    max-height: 50vh;
    overflow: auto;
    margin-top: 20px;

    .modal-option {
      opacity: 0.5;
      font-size: 16px;
      color: $primary-blue-1;
      letter-spacing: 0;
      text-align: center;
      line-height: 20px;
      padding: 10px;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
    }

  }

  .close {
    position: absolute;
    right: 20px;
    top: 0px;
    z-index: 1;

  }
}
