.main-area {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: -1;
}

.gmnoprint {
  margin-top: 150px !important;
}

.view-mode {
  opacity: 0.5;

  &.view-selected {
    opacity: 1;

  }
}

.open-sidebar {
  position: absolute;
  left: -150px;
  padding: 10px;
  background: white;
}

header {
  top: 50px !important;
  right: 50px !important;
  //width: calc(100% - 560px) !important;
  background-color: white !important;
}

.selected {
  background: #315581;
  color: white;
}

.search-input {
  svg {
    width: 34px;
    height: 34px;
  }

  input {
    border: none;
    font-size: 16px;
    padding: 10px;
    outline: none;

    &:focus {
      border: none;
      outline: none;
    }
  }
}

.logo {
  height: 26px;

  &.full-img {
    width: 50px;
    height: inherit;
  }
}

.logo-img {
  img {
    width: 40px;
    border-radius: 50%;
    height: 40px;
  }
}

.help-info {
  padding-top: 10px;
  padding-bottom: 10px;

  .help-info-container {
    padding-left: 30px;
    border-left: 1px solid #EEEEEE;

  }
}
